.*
!.gitignore
!.gitmodules
!.dockerignore
!.git/
config/config.ini
.vscode/
!.env.dev
.env
**/__pycache__
**__pycache__
/**/*.png
tests
log
# data
*.pyc
client/dist/*
client/wa_sessions/**/*

voice_data
*.zip
__debug**

**/node_modules/**/*
**/venv
*.log
package
*.tar.gz
!.codex
old_source

Kakrolot
phoenix
barry
